$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;

$theme-colors: (
    "primary":       $primary,
    "success":       $success,
    "info":          $info,
    "warning":       $warning,
    "danger":        $danger,
    "purple" :      #7431f9,
);  

.mic-icon {
    animation: pulse 1.5s infinite cubic-bezier(0.4, 0, 0.2, 1);
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.alert-purple {
    --bs-alert-color: #6610f2 !important;
    --bs-alert-bg: #e0cffc !important;
    --bs-alert-border-color: #c29ffa !important;
    --bs-alert-link-color: #6610f2 !important;
}

.drop-primary:hover, .drop-primary:hover {
    background-color: #0d6efd !important;
    }
  
.drop-success:active, .drop-success:hover {
    background-color: #198754 !important;
    }
  
.drop-warning:active, .drop-warning:hover {
    background-color: #ffc107 !important;
    }

.drop-danger:active, .drop-danger:hover {
    background-color: #dc3545 !important;
    }

.drop-purple:active, .drop-purple:hover {
    background-color: #7431f9 !important;
    }

.drop-cyan:active, .drop-cyan:hover {
    background-color: $cyan !important;
    }

html {
    height: 100% !important;
}

body {
    height: 100% !important;
}

#root {
    display: flex !important;
    flex-direction: column;
    min-height: 100% !important;
}

.footer {
    margin-top: auto !important;
}

@media (max-width: 575.98px) {
    .d-sm-none {
        display: none !important;
    }

    .theme-menu {
        margin-bottom: 8px;
    }
}

.search-container {
    display: flex;
  }
  .search-icon {
    cursor: pointer;
  }
  .search-bar {
    display: none;
    width: 60%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  .show {
    display: block !important;
  }
  .hide-icon {
    display: none !important;
  }

  .input-hide {
    position: absolute;
    left: -10000px;
  }
  
  .input-show {
    position: relative;
    left: 0;
  }

// -------------------------------------------------------------------------------------------------------
// Switch to Dark Mode

.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 55px;
    height: 27px;
    border-radius: 25px;
    transition: .2s;
    align-items: center;
}

.toggle i {
    width: 50%;
    line-height: 21.5px;
    text-align: center;
    font-size: 16px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 2.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}

#toggle {
    display: none;
}

/*
    -- Light Mode --
*/

.light {
    background: #fafafa;
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    // box-shadow: 3px 3px 4px #e6e6e6,
    //             -3px -3px 4px #ffffff;
}

.light .toggle .bi-sun-fill {
    color: #fafafa;
}

.light .toggle .bi-moon {
    color: #151d2a;
}

.light .toggle .ball {
    background: #151d2a;
}

/*
    -- Dark Mode --
*/


.dark .toggle {
    background: linear-gradient(145deg, #202020, #011010);
    // box-shadow: 3px 3px 3px #0e131b,
    //             -3px -3px 3px #1c2739;
}

.dark .toggle .bi-sun {
    color: #fafafa;
}

.dark .toggle .bi-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(27.5px);
}
// -----------------------------------------------------------------------------------------------------------


@import "../node_modules/bootstrap/scss/bootstrap";

// 8. Add additional custom code here